@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0
}

.App {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: auto;
}

 .bg-cyan {
  background-color: #008289;
  color: #fff;
}


.button {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.h:hover::before {
 background-color: #FFF5A7;
 cursor: pointer;
}

.buttons {
    padding: 15px;
    color: #fff;
    background-color: #5271FF;
    border: 1px solid #707070;
    width: 180px;
    border-radius: 15px;
    font-size: 1rem;
    font-family: 'poppins';
    cursor: pointer;
}

@media screen and (max-width: 426px) {
  

  .button {
      width: 100%;

  }
  .buttons {
      width: 100%;
      margin-bottom: 10px;
  
  }

  .btn-a{
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'poppins';
    margin-bottom: 20px;
    margin-top: 10px;
}
  
}