@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

*{
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

.login {
  width: 100%;
}

.navbar {
  background-color: #008289;
  border: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  height: 100px;
}


.navbar .left-side  {
  display: flex;
  align-items: center;
  
}
.navbar .left-side a {
  text-decoration: none;
  color: #fff;
  
}
.navbar .right-side {
  
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}


.navbar .right-side a {
  color: #fff;
  text-decoration: none;
  margin-left: 46px ;
}
h2 {
 font-size: 1.25rem; 
 font-style: italic;
 font-weight: 700;
 color: #fff;
}

nav .right-side a:hover {
  border-bottom: 2px solid #fff;
}

.navbar .right-side button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 50px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open h2 {
  display: none;
}

.navbar #close h2 {
  display: inherit;
}

.navbar #open .hiddenLink {
  display: inherit;
  margin-left: 0;
  

}


.navbar #close .hiddenLink {
  display: none;
}

.navbar #open a {
  
  margin: 10px;
}

.navbar .right-side button {
  display: none;
}

@media screen and (max-width: 426px){
  .navbar {
    
    padding: 30px 30px;
    justify-content: space-between;
}

  h2 {
    font-size: 1.2rem; 
    
 }

 
 .navbar .right-side a {
     display: none;
     margin-left: 26px ;
     font-size: 0.75rem;
     
 }

 .navbar .right-side button {
  display:inherit;
}


  
}